<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-header bg-primary text-white">

                    <h3 class="text-center">
                        Recuperar contraseña
                    </h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                       <div class="mb-3">

    <label class="form-label">
        Correo electrónico
    </label>

    {{ form.correo }}

    {% if form.correo.errors %}
        <div class="text-danger mt-2">
            {{ form.correo.errors.0 }}
        </div>
    {% endif %}

</div>

                        <button class="btn btn-primary w-100">
                            Enviar código
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>